<h2>Edita la Película {{movie.name}}</h2>

<form method="POST">
  <label>Título</label>
  <input type="text" name="title" placeholder="{{movie.title}}">
  <label>Género</label>
  <input type="text" name="genre" placeholder="{{movie.genre}}">
  <label>Trama</label>
  <input type="text" name="plot" placeholder="{{movie.plot}}">
  <button type="submit"><b>Editar</b></button>
</form>