<h2>Agrega un nueva Película</h2>

<form method="POST">
  <label>Título</label>
  <input type="text" name="title" placeholder="A Todo Gas">
  <label>Género</label>
  <input type="text" name="genre" placeholder="Romántica">
  <label>Trama</label>
  <input type="text" name="plot" placeholder="Es la bonita historia de un hombre y su coche...">
  <button type="submit"><b>Agregar</b></button>
</form>